* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--color-white: #ffffff;
	--color-black: #000000;

	--color-grey: #ddd;
	--color-grey-light: #f9fafb;
	--color-grey-medium-light: #e9ebed;
	--color-grey-dark: #717182;

	--color-blue-light: #eff6ff;
	--color-blue: #2b7fff;

	--color-orange: #ff6900;
	--color-orange-light: #fff7ed;

	--color-danger: #dc2626;
	--color-danger-light: #fee2e2;

	--color-primary: #63ab9f;
	--color-primary-medium: #eff6f5;
	--color-primary-light: #f9fffe;

	--color-gold: #f0b100;
	--color-silver: #99a1af;
	--color-bronze: #bb4d00;

	--bg-gradient-start: #eff6ff;
	--bg-gradient-end: #dbeafe;

	--bg-primary: var(--color-primary);
	--bg-primary-light: var(--color-primary-light);
	--bg-surface: var(--color-white);
	--bg-muted: var(--color-grey-medium-light);
	--bg-page: var(--color-grey-light);
	--bg-blue-light: var(--color-blue-light);
	--bg-orange: var(--color-orange);
	--bg-orange-light: var(--color-orange-light);

	/* Text */
	--text-primary: var(--color-black);
	--text-inverse: var(--color-white);
	--text-muted: var(--color-grey-dark);

	--border-default: var(--color-grey);
	--border-primary: var(--color-blue);
	--border-warning: var(--color-orange);

	--rank-gold: var(--color-gold);
	--rank-silver: var(--color-silver);
	--rank-bronze: var(--color-bronze);

	/* --bg-gradient-start: #eff6ff;
	--bg-gradient-end: #dbeafe;
	--bg-primary-color: #63ab9f;
	--bg-primary-light-color: #eff6f5;
	--bg-black-color: #000000;
	--bg-grey-color: #ddd;
	--bg-medium-light-grey-color: #e9ebed;
	--bg-light-grey-color: #f9fafb;
	--bg-white-color: #ffffff;
	--bg-blue-color: #eff6ff;
	--bg-orange-color: #ff6900;
	--bg-light-orange-color: #fff7ed;

	--text-white: #ffffff;
	--text-black: #000000;

	/* Borders */
	/* --br-grey: #ddd;
	--br-blue: #2b7fff;
	--br-orange: #ff6900; */

	/* Outline */
	/* --bg-gold-color: #f0b100;
	--bg-silver-color: #99a1af;
	--bg-bronze-color: #bb4d00;
	--ol-white-color: #ffffff; */
}
