* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--bg-gradient-start: #eff6ff;
	--bg-gradient-end: #dbeafe;
	--bg-primary-color: #63ab9f;
	--bg-black-color: #000000;
	--bg-grey-color: #ddd;

	--text-white: #ffffff;
	--text-black: #000000;

	/* Border radius */
	--br-grey: #ddd;
}
