* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--color-white: #ffffff;
	--color-black: #000000;

	--color-grey: #ddd;
	--color-grey-light: #f9fafb;
	--color-grey-medium-light: #e9ebed;
	--color-grey-dark: #717182;

	--color-blue-light: #eff6ff;
	--color-blue: #2b7fff;

	--color-orange: #ff6900;
	--color-orange-light: #fff7ed;

	--color-danger: #b82c2c;
	--color-danger-medium: #d76060;
	--color-danger-light: #fee2e2;

	--color-primary: #63ab9f;
	--color-primary-medium: #eff6f5;
	--color-primary-light: #f9fffe;

	--color-gold: #f0b100;
	--color-silver: #99a1af;
	--color-bronze: #bb4d00;

	--bg-gradient-start: var(--color-primary-light);
	--bg-gradient-end: var(--color-primary);

	--bg-primary: var(--color-primary);
	--bg-primary-light: var(--color-primary-light);
	--bg-surface: var(--color-white);
	--bg-muted: var(--color-grey-medium-light);
	--bg-page: var(--color-grey-light);
	--bg-blue-light: var(--color-blue-light);
	--bg-orange: var(--color-orange);
	--bg-orange-light: var(--color-orange-light);

	/* Button */
	--btn-primary-bg: var(--color-black);
	--btn-secondary-bg: var(--color-primary);
	--btn-danger-bg: var(--color-danger);

	/* Text */
	--text-primary: var(--color-black);
	--text-inverse: var(--color-white);
	--text-action: var(--color-white);
	--text-muted: var(--color-grey-dark);

	/* Border */
	--border-default: var(--color-grey);
	--border-primary: var(--color-black);
	--border-warning: var(--color-orange);

	/* Ranks */
	--rank-gold: var(--color-gold);
	--rank-silver: var(--color-silver);
	--rank-bronze: var(--color-bronze);
}
